/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block-start: 100px;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--font-weight-text);
  background-image: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;
  /*width: var(--container-width);*/
  /*margin: 0 auto;*/
}

.header {
  display: flex;
  margin-block-end: 100px;
  align-items: center;    
  justify-content: center;
}

.header__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: var(--container-width);
  border: 2px solid #000;
  background: #fff;
  text-align: center;
  font-family: var(--font-accent);
  font-weight: var(--font-weight-text);
  padding-block: var(--container-block-padding);
}

.header__title {
  font-size: var(--font-header-title);
  line-height: 100%;
}

.header__subtitle {
  font-size:  var(--font-header-subtitle);
  line-height: 100%;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.card {
  width: var(--container-width);
  margin: 0 auto;
  border: 2px solid #000;
  background: #fff;
}

.card__title  {
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 18px;
  padding: 4px 10px;
  }

.card__text {
  font-variation-settings: "wght" var(--font-weight-card-text);
  font-size: 18px;
  line-height: 1.17;
  padding: 25px 28px 0 25px;
}


/*картинки карточек и фильтры к ним*/

.card__image {
  width: 100%;
  display: block;
}

.card__image-wrapper {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color),
    -1px  1px 0 var(--label-stroke-color),
    1px  1px 0 var(--label-stroke-color);
}

@supports (-webkit-text-stroke: 1px #FFFFFF) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__image-sepia {
  filter: saturate(20%);
}
.card__image-neon {
  filter: brightness(110%) contrast(110%) hue-rotate(5deg) saturate(300%);
}
.card__image-purple {
  filter: hue-rotate(37deg);
}
.card__image-negative {
  filter: invert(77%);
}
.card__image-monochrome {
  filter: sepia(90%);
}
.card__image-blur {
  filter: blur(8px);
}
.card__image-faded {
  filter: blur(1px) brightness(110%) contrast(40%) hue-rotate(95deg) saturate(145%);
}

/*общие стили кнопок*/

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 25px;
}

.button {
  border: 2px solid #000;
  background: #fff;
  cursor: pointer;
  padding: 9px 17px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: var(--font-weight-text);
  color: #fff;
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}


/*стили для оборачивающей сердце кнопки*/

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 38px;
  max-width: 38px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

/*стили для иконки сердца*/

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon {
  transform-origin: center;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}


/*доп стили для кнопки like*/

.card__like-button {
  min-width: 130px;
  max-height: 38px;
  text-align: center;
}

/*стили для секции с dialog*/
.section__save {
  margin: 0 auto;;
  padding: 0 34.5px 100px;
}

.save-button {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  gap: 8px;
  padding: 16px 18px;
}

.save-button svg {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.dialog {
  display: none;
  border: 2px solid #000;
  padding: 28px 38px;
  background: #fff;
  max-width: 341px;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: var(--font-weight-text);
  text-transform: uppercase;
  line-height: 1.5;
}

.dialog[open] {
  display: block;
}

.dialog__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.dialog__text {
  padding-right: 10px;
}

.ok-button {
  width: 100%;
  min-height: 38px;
}

.dialog::backdrop {
  backdrop-filter: blur(10px);
}


/*адаптив*/

@media (width >= 700px) {
.save-button {
  flex-direction: row;
}

  .save-button svg {
    width: 21px;
    height: 21px;
  }

  .dialog {
  padding: 30px;
  background: #fff;
  max-width: 353px;
}
}
